<a href="https://colab.research.google.com/github/jahid-jabed/Grad_Thesis/blob/main/Data_Tokenization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Selection of First One-Tenth of Reviews

In [ ]:
import pandas as pd
import pickle

path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviews.pkl'
Reviews = pd.read_pickle(path, compression='infer', storage_options=None)

In [ ]:
dfReviewsHead = Reviews.head(len(Reviews)//10)

In [ ]:
dfReviewsHead

,business_id,stars,useful,funny,cool,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
2,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
3,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21
4,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,The cafe was extremely cute. We came at 8am an...,2018-07-07 20:50:12
...,...,...,...,...,...,...,...
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,We visited this restaurant for the first time ...,2018-08-17 14:02:28
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,I had no idea we even had a French restaurant ...,2019-07-04 20:31:41
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,I moved to Nashville Labor Day weekend and I'v...,2019-01-12 18:04:32
308055,xkYOPbA8AL4jcQIN3xveoQ,5.0,0,0,0,I have to start with the service - absolutely ...,2019-06-16 01:46:20
308056,iX-B-N84nktxvhSwTYSfDw,5.0,0,0,0,We came for dinner but ended up trying pretty ...,2019-04-17 23:34:39

# Tokenization

In [ ]:
#Tokenize dfReviewsHead
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

all_stopwords = stopwords.words('english')
all_stopwords.remove('not')

length = len(dfReviewsHead.index)

for data_indx in range(0, length):
  review = re.sub('[^a-zA-Z]', ' ', str(dfReviewsHead.at[data_indx,'text']))
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  dfReviewsHead.at[data_indx,'text'] = nltk.word_tokenize(review)
  print('Process: {:.2f} %'.format(100*(data_indx+1)/(length-1)), end='\r')
print('Process: {:.2f} %'.format(100*(data_indx+1)/(length-1)))

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

Process: 100.00 %

In [ ]:
dfReviewsHead

,business_id,stars,useful,funny,cool,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07
2,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,"[boyfriend, tri, deli, first, time, today, tur...",2018-08-23 21:39:38
3,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,"[amaz, biscuit, fill, blank, great, cocktail, ...",2018-04-27 23:03:21
4,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,"[cafe, extrem, cute, came, even, jazz, band, p...",2018-07-07 20:50:12
...,...,...,...,...,...,...,...
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32
308055,xkYOPbA8AL4jcQIN3xveoQ,5.0,0,0,0,"[start, servic, absolut, feel, like, home, kin...",2019-06-16 01:46:20
308056,iX-B-N84nktxvhSwTYSfDw,5.0,0,0,0,"[came, dinner, end, tri, pretti, much, appet, ...",2019-04-17 23:34:39

In [ ]:
import pickle
saved_path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviewsHead.pkl'
dfReviewsHead.to_pickle(saved_path, compression='infer', protocol=4, storage_options=None)

# Remove Reviews-Less Than 40 Tokens

In [ ]:
import pandas as pd
import pickle

path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviewsHead.pkl'
Reviews = pd.read_pickle(path, compression='infer', storage_options=None)

In [ ]:
Reviews

,business_id,stars,useful,funny,cool,text,date
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07
2,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,"[boyfriend, tri, deli, first, time, today, tur...",2018-08-23 21:39:38
3,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,"[amaz, biscuit, fill, blank, great, cocktail, ...",2018-04-27 23:03:21
4,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,"[cafe, extrem, cute, came, even, jazz, band, p...",2018-07-07 20:50:12
...,...,...,...,...,...,...,...
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32
308055,xkYOPbA8AL4jcQIN3xveoQ,5.0,0,0,0,"[start, servic, absolut, feel, like, home, kin...",2019-06-16 01:46:20
308056,iX-B-N84nktxvhSwTYSfDw,5.0,0,0,0,"[came, dinner, end, tri, pretti, much, appet, ...",2019-04-17 23:34:39

In [ ]:
Reviews['text_length'] = Reviews.apply(lambda row: len(row['text']), axis=1)

In [ ]:
Reviews

,business_id,stars,useful,funny,cool,text,date,text_length
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11,43
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07,140
2,kq5Ghhh14r-eCxlVmlyd8w,5.0,0,0,0,"[boyfriend, tri, deli, first, time, today, tur...",2018-08-23 21:39:38,36
3,Zx7n8mdt8OzLRXVzolXNhQ,5.0,0,0,0,"[amaz, biscuit, fill, blank, great, cocktail, ...",2018-04-27 23:03:21,11
4,I6L0Zxi5Ww0zEWSAVgngeQ,4.0,0,0,0,"[cafe, extrem, cute, came, even, jazz, band, p...",2018-07-07 20:50:12,24
...,...,...,...,...,...,...,...,...
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28,63
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41,130
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32,62
308055,xkYOPbA8AL4jcQIN3xveoQ,5.0,0,0,0,"[start, servic, absolut, feel, like, home, kin...",2019-06-16 01:46:20,30
308056,iX-B-N84nktxvhSwTYSfDw,5.0,0,0,0,"[came, dinner, end, tri, pretti, much, appet, ...",2019-04-17 23:34:39,35

In [ ]:
Reviews.drop(Reviews.index[Reviews['text_length'] < 40], inplace=True)

In [ ]:
Reviews

,business_id,stars,useful,funny,cool,text,date,text_length
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11,43
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07,140
11,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,2,0,1,"[milktooth, place, go, want, good, breakfast, ...",2018-01-10 01:48:58,84
12,M0c99tzIJPIbrY_RAO7KSQ,4.0,1,0,0,"[bar, staff, amaz, got, room, upgrad, honeymoo...",2018-04-04 10:50:08,47
13,hAmuto6UndVroyd_DaD-TA,5.0,1,0,0,"[not, sure, took, us, find, place, start, go, ...",2018-03-04 00:20:24,52
...,...,...,...,...,...,...,...,...
308043,ORL4JE6tz3rJxVqkdKfegA,5.0,0,0,0,"[good, thing, say, gaylord, opryland, much, li...",2019-04-21 05:05:58,110
308049,W4ZEKkva9HpAdZG88juwyQ,5.0,0,0,0,"[everi, visit, mr, b, one, rememb, smile, face...",2019-05-03 14:53:17,90
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28,63
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41,130
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32,62

In [ ]:
import pickle
saved_path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviewsTokens.pkl'
Reviews.to_pickle(saved_path, compression='infer', protocol=4, storage_options=None)

# Reviews That have more than 60% uniqueness

In [ ]:
import pandas as pd
import pickle

path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviewsTokens.pkl'
Reviews = pd.read_pickle(path, compression='infer', storage_options=None)

In [ ]:
Reviews['unique_ratio'] = Reviews.apply(lambda row: len(set(row['text']))/len(row['text']), axis=1)

In [ ]:
Reviews

,business_id,stars,useful,funny,cool,text,date,text_length,unique_ratio
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11,43,0.883721
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07,140,0.750000
11,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,2,0,1,"[milktooth, place, go, want, good, breakfast, ...",2018-01-10 01:48:58,84,0.809524
12,M0c99tzIJPIbrY_RAO7KSQ,4.0,1,0,0,"[bar, staff, amaz, got, room, upgrad, honeymoo...",2018-04-04 10:50:08,47,0.914894
13,hAmuto6UndVroyd_DaD-TA,5.0,1,0,0,"[not, sure, took, us, find, place, start, go, ...",2018-03-04 00:20:24,52,0.807692
...,...,...,...,...,...,...,...,...,...
308043,ORL4JE6tz3rJxVqkdKfegA,5.0,0,0,0,"[good, thing, say, gaylord, opryland, much, li...",2019-04-21 05:05:58,110,0.781818
308049,W4ZEKkva9HpAdZG88juwyQ,5.0,0,0,0,"[everi, visit, mr, b, one, rememb, smile, face...",2019-05-03 14:53:17,90,0.955556
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28,63,0.952381
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41,130,0.746154
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32,62,0.935484

In [ ]:
Reviews.drop(Reviews.index[Reviews['unique_ratio'] < 0.6], inplace=True)

In [ ]:
Reviews

,business_id,stars,useful,funny,cool,text,date,text_length,unique_ratio
0,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"[decid, eat, awar, go, take, hour, begin, end,...",2018-07-07 22:09:11,43,0.883721
1,cPepkJeRMtHapc_b2Oe_dw,4.0,1,0,1,"[realli, star, one, love, th, street, nake, tc...",2018-07-17 03:30:07,140,0.750000
11,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,2,0,1,"[milktooth, place, go, want, good, breakfast, ...",2018-01-10 01:48:58,84,0.809524
12,M0c99tzIJPIbrY_RAO7KSQ,4.0,1,0,0,"[bar, staff, amaz, got, room, upgrad, honeymoo...",2018-04-04 10:50:08,47,0.914894
13,hAmuto6UndVroyd_DaD-TA,5.0,1,0,0,"[not, sure, took, us, find, place, start, go, ...",2018-03-04 00:20:24,52,0.807692
...,...,...,...,...,...,...,...,...,...
308043,ORL4JE6tz3rJxVqkdKfegA,5.0,0,0,0,"[good, thing, say, gaylord, opryland, much, li...",2019-04-21 05:05:58,110,0.781818
308049,W4ZEKkva9HpAdZG88juwyQ,5.0,0,0,0,"[everi, visit, mr, b, one, rememb, smile, face...",2019-05-03 14:53:17,90,0.955556
308052,mDd3GFkYQKXhTlpm7SHtCQ,5.0,3,1,3,"[visit, restaur, first, time, groupon, discov,...",2018-08-17 14:02:28,63,0.952381
308053,62pABDhLkUPAcNgxum_mpw,4.0,1,0,1,"[idea, even, french, restaur, st, loui, area, ...",2019-07-04 20:31:41,130,0.746154
308054,oSp8B87eQ8droCGiWUERZA,5.0,0,0,1,"[move, nashvil, labor, day, weekend, struggl, ...",2019-01-12 18:04:32,62,0.935484

In [ ]:
import pickle
saved_path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviewsUniqueTokens.pkl'
Reviews.to_pickle(saved_path, compression='infer', protocol=4, storage_options=None)

# Develop Corpus of unknown words

In [ ]:
#Update chnk one by one and press Ctrl+M, Shift+Enter
#Load All Reviews
import pandas as pd
import pickle
path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/dfReviews.pkl'
allReviews = pd.read_pickle(path, compression='infer', storage_options=None)

#Devide Reviews Chunkwise
chnk = 6
length = len(allReviews)//200
Reviews = allReviews.loc[(chnk-1)*length:(chnk*length-1)]

#Tokenize Reviews
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')
length = len(Reviews)
for data_indx in range((chnk-1)*length, (chnk*length-1)):
  review = re.sub('[^a-zA-Z]', ' ', str(Reviews.at[data_indx,'text']))
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  Reviews.at[data_indx,'text'] = ''.join(review)

#Frequency Counts
freqTokens = Reviews.text.str.split(expand=True).stack().value_counts().reset_index() 
freqTokens.columns = ['Word', 'Frequency']

#Saved Frequency Counts
if chnk == 1:
    oldFreqTokens = pd.DataFrame(columns = ['Word', 'Frequency'])
else:
    path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/FrequecyOfTokens/freqTokens{:d}.pkl'.format(chnk-1)
    oldFreqTokens = pd.read_pickle(path, compression='infer', storage_options=None)
freqTokens = pd.concat([oldFreqTokens, freqTokens]).groupby(["Word"], as_index=False)["Frequency"].sum()
saved_path = '/content/drive/My Drive/Thesis Works/Works/Pickle Data/Dataset/FrequecyOfTokens/freqTokens{:d}.pkl'.format(chnk)
freqTokens.to_pickle(saved_path, compression='infer', protocol=4, storage_options=None)

#Print Frequency
freqTokens

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

           Word  Frequency
0          "Big          1
1       $35-$40          1
2           (45          1
3             -          2
4           3rd          1
...         ...        ...
35309    zydeco          8
35310        zz          2
35311       zza          2
35312     zzzzz          1
35313  zzzzzzzx          1

[35314 rows x 2 columns]

In [ ]:
#freqTokens = Reviews.text.apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).astype(int)